<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32005" >
        <setting label="32025" type="text" enable="false"/>
    	<setting type="lsep"/>
    	<setting default="32017" subsetting="true" label="32014" id="subtitle_locations" type="labelenum" lvalues="32017|32018|32019" />
    	<setting type="lsep"/>
        <setting label="32029" type="bool" subsetting="true" id="dualsub_swap" default="false"/>
    	<setting type="lsep"/>
	<setting id="minTime" label="32026" type="number" default="0" subsetting="true"/>
        <setting label="32027" type="text" enable="false"/>
        <setting label="32028" type="text" enable="false"/>
    	<setting type="lsep"/>
        <setting id="autoShft" label="32020" type="bool" default="true"/>
	<setting id="autoShftAmt" label="32021" type="number" default="500" subsetting="true" enable="eq(-1,true)"/>
        <setting label="32022" type="text" enable="false"/>
    	<setting label="32016" type="lsep"/>
    	<setting default="Arial" subsetting="true" label="32007" id="bottom_font" type="labelenum" values="Arial|Verdana|DejaVu Sans"/>
        <setting default="Auto Charset_normalizer" subsetting="true" label="32030" id="bottom_characterset" type="select" values="Auto Charset_normalizer|Auto Chardet|Arabic (ISO)|Arabic (Windows)|Baltic (ISO)|Baltic (Windows)|Central Europe (ISO)|Central Europe (Windows)|Chinese Simplified (ISO)|Chinese Traditional (Big5)|Cyrillic (ISO)|Cyrillic (Windows)|Greek (ISO)|Greek (Windows)|Hebrew (ISO)|Hebrew (Windows)|Hong Kong (Big5-HKSCS)|Japanese (Shift-JIS)|Korean|Nordic Languages (ISO)|South Europe (ISO)|Thai (Windows)|Turkish (ISO)|Turkish (Windows)|Vietnamese (Windows)|UTF8|UTF16|UTF32|Western Europe (ISO)|Western Europe (Windows)"/>
    	<setting default="17" subsetting="true" label="32008" type="slider" id="bottom_fontsize" range="12,1,30" option="int" />
    	<setting default="true" subsetting="true" label="32009" id="bottom_bold" type="bool" />
    	<setting default="32012" subsetting="true" label="32010" id="bottom_color" type="labelenum" lvalues="32012|32013" />
    	<setting default="false" subsetting="true" label="32011" id="bottom_background" type="bool" />
    	<setting default="0" subsetting="true" label="32023" type="slider" id="bottom_shadow" range="0,1,3" option="int" />
    	<setting default="1" subsetting="true" label="32024" type="slider" id="bottom_outline" range="0,1,5" option="int" />
        <setting default="10" subsetting="true" label="32015" type="slider" id="bottom_verticalmargin" range="0,1,100" option="int" />
        <setting label="32006" type="lsep"/>
    	<setting default="Arial" subsetting="true" label="32007" id="top_font" type="labelenum" values="Arial|Verdana|DejaVu Sans"/>
        <setting default="Auto Charset_normalizer" subsetting="true" label="32030" id="top_characterset" type="select" values="Auto Charset_normalizer|Auto Chardet|Arabic (ISO)|Arabic (Windows)|Baltic (ISO)|Baltic (Windows)|Central Europe (ISO)|Central Europe (Windows)|Chinese Simplified (ISO)|Chinese Traditional (Big5)|Cyrillic (ISO)|Cyrillic (Windows)|Greek (ISO)|Greek (Windows)|Hebrew (ISO)|Hebrew (Windows)|Hong Kong (Big5-HKSCS)|Japanese (Shift-JIS)|Korean|Nordic Languages (ISO)|South Europe (ISO)|Thai (Windows)|Turkish (ISO)|Turkish (Windows)|Vietnamese (Windows)|UTF8|UTF16|UTF32|Western Europe (ISO)|Western Europe (Windows)"/>
        <setting default="17" subsetting="true" label="32008" type="slider" id="top_fontsize" range="12,1,30" option="int" />
    	<setting default="true" subsetting="true" label="32009" id="top_bold" type="bool" />
    	<setting default="32012" subsetting="true" label="32010" id="top_color" type="labelenum" lvalues="32012|32013" />
    	<setting default="false" subsetting="true" label="32011" id="top_background" type="bool" />
    	<setting default="0" subsetting="true" label="32023" type="slider" id="top_shadow" range="0,1,3" option="int" />
    	<setting default="1" subsetting="true" label="32024" type="slider" id="top_outline" range="0,1,5" option="int" />
        <setting default="10" subsetting="true" label="32015" type="slider" id="top_verticalmargin" range="0,1,100" option="int" />
    </category>
</settings>
